@page "/sankeychart"
@rendermode InteractiveServer

<h3>Sankey Chart</h3>

<MudPaper Class="doc-section-component-container">
    <MudChart ChartType="ChartType.Sankey" Nodes="@_nodes" Edges="@_edges" Width="650px" Height="350px" />
</MudPaper>

@code {
    private readonly List<SankeyChartNode> _nodes =
    [
        new("Income", 0),

        // Income
        new("Expenses", 1),
        new("Savings", 1),

        // Expenses
        new("Housing", 2),
        new("Food", 2),
        new("Insurance", 2),
        new("Mobility", 2),
        new("Travel", 2),
        new("Leisure", 2),

        // Savings
        new("Interest", 2),
        new("Stocks", 2),

        // Housing
        new("Rent", 3),
        new("Other", 3),

        // Insurance
        new("Home insurance", 3),
        new("Car insurance", 3),
        new("Health insurance", 3),

        // Travel
        new("Car", 3),
        new("Public transport", 3),
    ];

    private readonly List<SankeyChartEdge> _edges =
    [
        // Income
        new("Income", "Expenses", 2800),
        new("Income", "Savings", 400),

        // Expenses
        new("Expenses", "Housing", 1200),
        new("Expenses", "Food", 500),
        new("Expenses", "Insurance", 250),
        new("Expenses", "Mobility", 125),
        new("Expenses", "Travel", 425),
        new("Expenses", "Leisure", 300),

        // Savings
        new("Savings", "Interest", 10),
        new("Savings", "Stocks", 390),

        // Housing
        new("Housing", "Rent", 950),
        new("Housing", "Other", 250),

        // Insurance
        new("Insurance", "Home insurance", 50),
        new("Insurance", "Car insurance", 75),
        new("Insurance", "Health insurance", 125),

        // Travel
        new("Travel", "Car", 300),
        new("Travel", "Public transport", 125),
    ];
}
