@section title {
    <h1>Welcome to Movie Mania</h1>
}

@{
    var CurrentTime = DateTime.Now;
}

<h2>The current date and time is: @CurrentTime.ToString()</h2>

@if (TimeOnly.FromDateTime(CurrentTime) < new TimeOnly(12, 0, 0))
{
    <p>Good morning!</p>
}
else
{
    <p>Good afternoon!</p>
}