@rendermode InteractiveServer

<h3>TextField</h3>
<textarea @bind="Description" @bind:event="oninput"></textarea>
<hr />

@code {
    private string _description;

    [Parameter]
    public string Description
    {
        get
        {
            return _description;
        }
        set
        {
            _description = value;
            OnTextAdded.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> OnTextAdded { get; set; }

    public async Task TextChanged(string e)
    {
        await OnTextAdded.InvokeAsync(e);
    }
}
