@page "/servers"

<h3>Servers</h3>
<br />
<br />
@* <ServerComponet></ServerComponet> *@
<br />

<ul>
    @foreach (var server in serverRepositories)
    {
        <li>
            @server.Name is located in @server.City and is @(server.IsOnline ? "online" : "offline")
        </li>
    }
</ul>

@code {
    List<ServerRepository> serverRepositories = new List<ServerRepository>();

}
